#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh; // A página ocupa o tamanho total da Altura da Tela

    aside{
        flex: 7; /* Ocupar 7 'unidades flexiveis' ou 700px */

        background: #835afd;
        color: #fff;

        display: flex;
        flex-direction: column; // Conteúdo um abaixo do outro
        justify-content: center;

        padding: 120px 80px;

        img {
            max-width:  320px;
        }

        strong {
            font: 700 36px 'Poppins', sans-serif;
            line-height: 42px;
            margin-top: 16px;
        }

        p {
            font-size: 24px;
            line-height: 32px;
            margin-top: 16px;
            color: #f8f8f8;
        }
    }

    main {
        flex: 8; /* Ocupar 8 'unidades flexiveis' ou 800px */

        padding: 0 32px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        align-items: stretch;  /* Todos os elementos estricam para caber no container total (320px)*/
        text-align: center;

        > img {
            align-self: center;
        }

        h2 {
            font-size: 24px;
            margin: 64px 0 24px;
            font-family: 'Poppins', sans-serif;
        }

        form {
            input {
                height: 50px;
                border-radius: 8px;
                padding: 0 16px;
                background: #fff;
                border: 1px solid #a8a8b3;
            }
        
            button {
                margin-top: 16px;
            }

            button, input {
                width: 100%;
            }
        }
    }

    .create-room {
        margin-top: 64px;
        height: 50px;
        border-radius: 8px;
        font-weight: 500;
        background: #ea4335;
        color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer; // tipo de imagem do mouse
        border: 0;

        transition: 0.2s; // Tempo de transição quando acontecer uma mudança

        img {
            margin-right: 8px;
        }
        &:hover{
            background: #a02040;
        }
    }

    .separator {
        font-size: 14px;
        color: #a8a8b3;

        margin: 32px 0;
        display: flex;
        align-items: center;

        /*antes do <- 'texto' */
        &::before {
            content: ''; // texto vazio
            flex: 1;
            height: 1px; // tamanho da linha
            background: #a8a8b3;
            margin-right: 16px; // espaçamento entre o texto
        }

        /*depois do 'texto' -> */
        &::after {
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-left: 16px;
        }
    }
}