// Componente Botão (usado em vários lugares)

.button {
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #8351fd;
    color: #fff;
    padding: 0 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer; // tipo de imagem do mouse
    border: 0;

    transition: 0.2s; // Tempo de transição quando acontecer uma mudança

    img {
        margin-right: 8px;
    }

    // Funções do SCSS: se o botão tiver a class 'outlined'
    &.outlined {
        background: #fff;
        border: 1px solid #835afd;
        color: #835afd;
    }

    // Funções do SCSS: se 'não' estiver 'desabilitado' no 'hover/mouse em cima' aplicar esse estilo
    &:not(:disabled):hover{
        color: #fff;
        background: #3f17a1;
    }
    // Funções do SCSS: se estiver 'desabilitado' aplicar esse estilo
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}